<h1>Welcome</h1>

<% if @current_user.present? %>
<strong><p><%= @current_user.username %></p></strong>
<% end %>

<% if @current_user.trips.present? %>
<% @trips.each do |trip| %>
<p><%= link_to trip.title, items_path %></p>
<% end %>
<% end %>
