<div class="sidebar">
  <h1 class="goplanit">Goplanit</h1>
  <h2>Your Trips</h2>
<% if @current_user.trips.present? %>
<% @trips.each do |trip| %>
<p class="trip-link"><%= link_to trip.title, trip %></p>
<% end %>
<% end %>
</div>

<main>
<div class="Welcome-current-user">
<% if @current_user.present? %>
<p>@<%= @current_user.username %></p>
<% end %>
<%= @current_user.email %>
</div>
</main>

<!-- show user icon image with @username -->
<!-- rails generate migration image to user table? -->
