<div class="sidebar">
  <h1 class="goplanit">Goplanit</h1>
  <h2 class="sidebarwords">Everything in one place.
Everyone on the same page.</h2>
<img class="man-with-dog" src="https://i.pinimg.com/originals/9c/e0/cd/9ce0cdcf35a10c1f28ec7124bb987570.jpg" alt="man-and-dog-image">
</div>

<main>
<h2>New Items</h2>
<%= render :partial => 'form' %>
</main>
