@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ------------------- homepage ------------------- */

html, body {
  background-color: ghostwhite;
  min-width: 960px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  min-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* ------------------- Signin, Signup page ------------------- */

.sidebar {
  height: 100%;
  line-height: 10px;
  width: 514px;
  background: white;
}

.sidebarwords {
  font-family: 'Montserrat', sans-serif;
  margin-top: 200px;
  text-align: center;
  font-weight: 700;
  padding: 40px;
  line-height: 1.5;
}

header {
  max-width: 100%;
  margin: 0;
  padding: 35px;
  position: relative;
  background: white;
}

.goplanit {
  font-family: 'Lobster', cursive;
  margin: 60px 40px 40px 40px;
  font-size: 40px;
  position: absolute;
  display: inline-block;
  background: white;
}

img.man-with-dog {
  width: 500px;
  position: absolute;
  display: grid;
  bottom: 10px;
}

main {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: grid;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.signin-content {
  display: grid;
  margin: 0;
  height: 20%;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  }

.signup-content {
  display: grid;
  height: 20%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 10%;
  }

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  width: 100%;
  margin-right: 8px;
  font-size: 20px;
  display: grid;
  margin-top: 24px;
  height: 15px;
}

input {
  width: 100%;
  margin-right: 8px;
  font-size: 24px;
  border-radius: 10px;
  height: 40px;
  border: 1px solid #efcbcb7d;
  margin-top: 24px;
  outline: none;
  text-align: center;
}

input:hover {
  transition-duration: 0.2s;
  border: 3px solid #efcbcb7d;
  height: 40px;
  outline: none;
}

.submit-button {
  color: rgba(255,255,255,0.85);
  background: #ea4c89;
  outline: none;
}

.invalid {
  color: #795548;
  background: #ea4c894a;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

/* ------------------- General ------------------- */

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

/* ------------------- Navigation ------------------- */

nav {
  margin: 0 auto;
  right: 0;
  position: absolute;
  display: inline-block;
  padding: 1.2em;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.login-button, .logout-button {

}
/* ------------------- User homepage / Profile ------------------- */

.profile-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 10em;
}

.user-trips-container {
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
}

.upcoming-trips {
  color: cornflowerblue;
}

.trip-link {
  padding-left: 45px;
  padding-right: 35px;
  margin-bottom: 0;
  height: 0px;
}

.trip-date {
  line-height: 1px;
  padding-left: 45px;
  padding-right: 35px;
  color: cornflowerblue;
}

.date-font {
  font-weight: bolder;
}

.trip-display {
  display: grid;
  align-items: center;
}

.trip-box {
  background: aliceblue;
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  height: 150px;
  border-radius: 30px;
  box-shadow: 5px 5px pink;
  border: 1px solid cornflowerblue;
  width: 500px;
}

.profile-picture {
  max-width: 200px;
  height: 200px;
  margin-left: 20px;
  border: 5px solid ghostwhite;
  border-radius: 100%;
  margin: 30px;
}

.profile {
  text-align: center;
  color: ghostwhite;
  line-height: 0;
}

.profile-bold {
  font-weight: bolder;
  color: ghostwhite;
  text-align: center;
  margin-top: 0;
  margin-left: -10px;
}

.thumb {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.sidebar-radius {
  height: 96.5%;
  line-height: 10px;
  width: 514px;
  background: cornflowerblue;
  border-radius: 30px;
  margin: 1em;
}

.sidebar-radius:hover, .trip-box:hover {
  transform: scale(1.02);
  transition: 1s;
}

.goplanit-white {
  font-family: 'Lobster', cursive;
  margin: 60px 40px 40px 40px;
  font-size: 40px;
  position: absolute;
  display: inline-block;
  background: cornflowerblue;
  color: ghostwhite;
}
/* ------------------- Trips page ------------------- */

ul {
  list-style-type: none;
}

.feature {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

/* ------------------- Edit / New page ------------------- */

main.main-trip-container {

}

.new-trip-content {
  display: grid;
  margin: 0;
  height: 20%;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  }

.trip-image {
  width: 300px;
  height: 300px;
}

  /* ------------------- All-users -------------------  */

.table {
  padding: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
